:root {
  --font: 'Trebuchet MS', '华文行楷', '楷体', '黑体-简';
  --code-font: 'Fira Code', '华文行楷', '楷体';
  --slidev-code-padding: 12px;
}

html, body, #app, #page-root {
  font-family: var(--font);
}

pre, code, kbd, samp {
  font-family: var(--code-font);
}

.slidev-layout kbd {
  font-family: var(--code-font);
}

html.dark {
  --prism-background: rgb(12, 16, 33);
  --prism-builtin: #db7c84;
  --prism-property: #a0c7e9;
  --prism-keyword: #abd58e;
}